tmp
cmd/tmp
!vendor/

vendor/*
!vendor/github.com/

vendor/github.com/*
!vendor/github.com/spf13/

vendor/github.com/spf13/*
!vendor/github.com/spf13/afero/

.idea
error-log
server-log
output
demo-folder
demo-folder2
demo-folder3
output-folder